@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

/* width ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fefefe;
  border-left: 1px solid #111827;
}

.dark ::-webkit-scrollbar-track {
  background: #111827;
  border-left: 1px solid #111827;
}

::-webkit-scrollbar-thumb {
  background: #111827;
}

.dark ::-webkit-scrollbar-thumb {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
*/

.time {
  font-size: 0.5rem;
}
